h1.d-header {
  margin: 50px auto 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 100px;
  text-shadow: 10px 10px 5px rgb(150, 150, 205);
}
.card-container {
  margin: 100px 10px 200px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100%;
  color: azure;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.card-content {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(247, 245, 245, 0.5);
  height: 200px;
  background-color: rgb(53, 57, 56);
  display: grid;
  grid-template-columns: repeat(2, 25% 74%);
  gap: 2px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.c-content:nth-child(1) {
  background-color: blue;
  border-radius: 10px;
  height: 100px;
}
.c-content:nth-child(2) {
  height: 100px;
  display: grid;
  gap: 1px;
}
.c-content:nth-child(3) {
  height: 100px;
  grid-area: 2 / span 2;
  margin: 0 10px;
  padding: 5px;
}
p.details {
  grid-template-rows: auto auto auto;
  background-color: rgb(72, 121, 128);
  margin: 0;
  border-radius: 10px;
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 600px) {
  h1.d-header {
    font-size:50px;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}

p > a{
  text-decoration: none;
 color:brown;
}

a:hover{
  color: green;
}
