* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

.my-footer {
  padding: 0 !important;
  margin-bottom: 100px;
}
.about-frame-footer {
  position: absolute;
  bottom: 0;
}

.main-footer{
    position: absolute;
}

.my-card-container {
  max-height: 100vh;
  display: grid;
  place-items: start;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #008000,
    #00e600,
    #b3ffb3,
    #00e600,
    #008000
  );
  font-family: "Martel Sans", sans-serif;
  border-radius: 10px;
}
.my-tab-container {
  padding: 20;
}
.my-tab {
  height: 200px;
}
@media screen and (max-width: 768px) {
  .my-tab-container {
    padding: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .my-tab {
    height: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .my-footer {
   margin-bottom: 50px;
  }
}